/*---Default styles start---*/

body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.75);
  background: #170135;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #4f2b7f;
}

.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.no-left-gutters {
  padding-left: 0;
}

.no-right-gutters {
  padding-right: 0;
}

.row {
  margin: 0 !important;
}

a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover,
a:focus {
  color: #707070;
  text-decoration: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  line-height: 1.1;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
  color: #fff;
}
input,
select,
button,
textarea {
  outline: none;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover,
a:focus {
  color: #948f8f;
  text-decoration: none;
  outline: none;
}

.main {
  padding-top: 20px;
}

/*---Default styles end---*/

/*---Header styles start---*/

.header {
  background: #4f2b7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px;
}

.header_img {
  padding: 20px auto;
  width: 225px;
}

/*---Header styles end---*/

/*---Welcoming section start---*/

.welcome {
  padding: 50px 0;
}

.welcome_title {
  font-size: 45px;
}

.welcome_title::after {
  content: "";
  display: block;
  width: 100px;
  margin: 30px 0 15px 0;
  border-bottom: 1px solid #fff;
}

.welcome-description {
  padding: 30px 0;
}

/*--Know future section start--*/

.call-to-action {
  background: #0f0122;
}

.call-to-action .container {
  padding: 0;
  width: 100%;
}

.cta_title {
  padding: 30px 0 10px;
  font-size: 36px;
}

.cta_call {
  font-size: 36px;
  padding-top: 40px;
}

.cta_description {
  padding: 20px 15px;
}

.cta_price {
  color: #948f8f;
  align-self: flex-end;
  padding-right: 15px;
}

.cta_button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0 20px;
  max-width: 333px;
  margin: 0 auto;
}

.cta_button a {
  width: 333px;
  max-width: 333px;
  height: 50px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 50px;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 10px;
}

.cta_button a:focus {
  outline: none;
}

.cta_button .hs_btn_hover {
  border-radius: 50px;
  background: #f06e9c;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.cta_button .hs_btn_hover::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 50px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}
.cta_button .hs_btn_hover:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  -o-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #eceff1;
  background-color: #f06e9c;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
}
.cta_button .hs_btn_hover:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}

@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*-Specialists section start-*/

.experts {
  padding: 45px 0 100px;
  background: #0f0122;
}

.experts_description {
  padding: 15px 0 30px;
}

.specialist-card {
  width: 100%;
  max-width: 333px;
  text-align: center;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  padding-bottom: 30px;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.specialist-card.multiple {
  padding-bottom: 0;
  margin-bottom: 15px;
  max-width: 100%;
}

.specialist-card.multiple .sc_info_services {
  padding: 0 0 10px 30px;
}

.sc_image-wrapper {
  width: 100%;
}

.sc_image {
  width: 100%;
  height: auto;
}

/*Animation for online label start*/

@-webkit-keyframes pulsate {
  0% {
    -webkit-box-shadow: 0 0 0 #9fdc86;
    box-shadow: 0 0 0 #9fdc86;
  }

  50% {
    -webkit-box-shadow: 0 0 17px #35751a;
    box-shadow: 0 0 17px #35751a;
  }

  100% {
    -webkit-box-shadow: 0 0 0 #9fdc86;
    box-shadow: 0 0 0 #9fdc86;
  }
}
@keyframes pulsate {
  0% {
    -webkit-box-shadow: 0 0 0 #9fdc86;
    box-shadow: 0 0 0 #9fdc86;
  }

  50% {
    -webkit-box-shadow: 0 0 17px #35751a;
    box-shadow: 0 0 17px #35751a;
  }

  100% {
    -webkit-box-shadow: 0 0 0 #9fdc86;
    box-shadow: 0 0 0 #9fdc86;
  }
}

/*Animation for online label end*/

.sc_online {
  width: 100%;
  background: #72bb53;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  padding: 5px 0 5px 0;
  color: #fff;
  box-shadow: 0 0 17px #35751a;
  animation: pulsate 1s ease-out infinite;
}

.sc_offline {
  width: 100%;
  height: 35px;
}

.sc_call {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  font-size: 20px;
  color: #fff;
  padding: 7px 0 7px 0;
  transition: all 0.5s;
}

.sc_call:hover {
  color: #fff;
  background: #4f2b7f;
}

.sc_call_phone {
  font-size: 25px;
}

.sc_call_text {
  padding-left: 15px;
}

.sc_call_price {
  display: block;
  width: 100%;
  font-size: 12px;
  color: #948f8f;
}

.service-info {
  width: 100%;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}

.sc_info_title {
  color: #fff;
  margin: 10px auto 10px auto;
}

.specialist-card.single .sc_info_title_online {
  display: none;
}

.sc_info_services-wrapper {
  display: flex;
  justify-content: space-around;
}

.sc_info_services {
  list-style: inside;
  text-align: left;
  color: #fff;
}

/*-Specialists section end-*/

/*--Know future section end--*/

/*---Welcoming section end---*/

/*---Info section start---*/

.info {
  padding: 30px 0;
}

.info_title {
  font-size: 28px;
}

.info_text {
  margin: 10px auto;
}

/*---Info section end---*/

/*--- Footer Start ---*/
footer {
  width: 100%;
  background: #4f2b7f;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  position: relative;
}
.footer-inner {
  width: 100%;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-copyright {
  -webkit-box-ordinal-group: unset;
  -ms-flex-order: unset;
  order: unset;
}

.footer-menu li {
  float: left;
  position: relative;
}
.footer-menu li:after {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.28);
  height: 20px;
  position: absolute;
  right: -1px;
  top: 27px;
}

.footer-menu li:last-child:after {
  display: none;
}

.footer-menu {
  overflow: visible;
  position: relative;
}

.footer-menu a {
  text-align: center;
  padding: 26px 20px 26px 20px;
  display: inline-block;
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-menu a:hover {
  color: #fff;
  background: #4f2b7f;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#return-to-top {
  position: absolute;
  bottom: 120px;
  right: 80px;
  background: #4f2b7f;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 100%;
  display: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1000;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 1px;
  top: 8px;
  font-size: 30px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

@media screen and (max-width: 400px) {
  .footer-inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-copyright {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

/*--- Footer ---*/

/*---Media queries start---*/

@media (max-width: 1024px) {
  .header {
    height: 70px;
  }

  .welcome {
    padding: 25px 0;
  }

  .welcome_title {
    font-size: 40px;
  }

  .welcome_title::after {
    margin: 15px 0 7.5px 0;
  }

  .welcome-description {
    padding: 20px 0 0 0;
  }

  .cta_call {
    padding-top: 0;
  }
}

@media (max-width: 992px) {
  .specialist-card.single {
    display: flex;
    max-width: 100%;
    padding: 0;
  }

  .specialist-card.single .sc_image-wrapper {
    max-width: 300px;
    min-height: 100%;
    display: flex;
    align-items: center;
  }

  .specialist-card.single .sc_online {
    display: none;
  }

  .specialist-card.single .sc_info_title {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }

  .specialist-card.single .sc_info_title_name {
    padding-bottom: 10px;
    margin-right: 10px;
  }

  .specialist-card.single .sc_info_title_online {
    display: inline-block;
    font-size: 14px;
    position: relative;
    color: #72bb53;
    margin-left: 20px;
  }

  .specialist-card.single .sc_info_title_online::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #72bb53;
    animation: pulsate 2s ease-out infinite;
  }

  .specialist-card.single .sc_info {
    width: 100%;
    padding: 10px 0 15px 20px;
  }

  .specialist-card.single .sc_info_services-wrapper {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .specialist-card.single .sc_info_services {
    padding: 0 15px 0 10px;
  }
}

@media (max-width: 650px) {
  .specialist-card.single .sc_image-wrapper {
    max-width: 150px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .welcome {
    padding: 20px 0;
  }

  .welcome_title {
    font-size: 36px;
  }

  .welcome_title::after {
    margin: 10px 0 6px 0;
  }

  .welcome-description {
    padding: 15px 0 0 0;
  }

  .call-to-action {
    padding: 25px 15px 5px;
    margin-top: 0;
  }

  .cta_title,
  .cta_call {
    font-size: 32px;
  }

  .cta_description {
    padding: 10px 5px;
  }

  .cta_button-wrapper {
    padding: 10px 0 5px 0;
  }
}

@media (max-width: 580px) {
  #return-to-top {
    bottom: 120px;
    right: 60px;
  }

  .specialist-card.single .sc_image-wrapper {
    display: none;
  }

  .specialist-card.single .sc_info {
    padding-left: 10px;
  }
}

@media (max-width: 500px) {
  .cta_button a {
    width: 300px;
  }
}

@media (max-width: 450px) {
  .welcome {
    padding-top: 0;
  }

  .welcome_title {
    font-size: 28px;
  }

  .call-to-action {
    padding: 10px 7px 5px;
  }

  .cta_title {
    font-size: 25px;
    padding-top: 5px;
  }

  .cta_call {
    font-size: 26px;
  }

  .specialist-card.single .sc_info_services {
    padding: 0 0 0 10px;
  }
}

@media (max-width: 388px) {
  .container {
    padding: 0 !important;
  }

  .info {
    padding: 0 15px;
  }

  .cta_button a {
    width: 230px;
  }

  .welcome {
    padding-left: 15px;
  }
}

@media (max-width: 356px) {
  #return-to-top {
    bottom: 140px;
  }
  .welcome_title {
    font-size: 25px;
  }

  .cta_title {
    font-size: 22px;
  }

  .cta_call {
    font-size: 24px;
  }

  .main {
    padding-top: 10px;
  }
}

/*---Media queries end---*/
